h1, p {
    text-align: center;
}

li {
    transition: 0.6s;
}

li:hover {
    background-color: aqua;
}

li:active {
    font-family: 'Courier New', Courier, monospace;
}

ol, ul {
    list-style: none;
}