/*arquivo externo para aplicar estilo CSS a página*/

body {
    margin: 0;
    font-size: 16px; /*Tamanho da fonte para o site inteiro*/
    background-color: rgb(255, 400, 200);
}

h1 {
    color: orange;
    font-size: 68px;
    font-family: sans-serif; /*fonte padrão*/
    font-style: italic;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3em; /*3 vezes maior que o tamanho da fonte do seletor body*/
    font-weight: 600;
    text-align: center;
    color: #fff;
    width: 600px;

    margin: auto;
    border-radius: 1em; 
    padding: 15px;
}

ul {
    background-color: blue;
    line-height: 30px;
}

#cor1 {
    background-color: blue;
}

#cor2 {
    background-color: red;
}

#cor3 {
    background-color: #000;
    color: #fff;
}

.text {
    background-color: greenyellow;
}

a {
    text-decoration: none;
    color: navy;
}