* {
    padding: 0;
    margin: 0;
}

div {
    border: 1px solid #000;
    display: inline-block;
    width: 20%;
}

/*Estilizando cada div com 'nth-of-type(n)' ao passar o mouse por cima*/
div:hover:nth-of-type(1){
    background-color: skyblue;
}

div:hover:nth-of-type(2){
    background-color:orange;
}

div:hover:nth-of-type(3){
     background-color: burlywood;
}

div:hover:nth-of-type(4){
    background-color: navy;
}

div:hover:nth-of-type(5){
    background-color: greenyellow;
}

/*Mudando a font-family de h3 ao elemento ser clicado com a pseudoclasse nth-of-type(n)*/
h3:active:nth-of-type(1) {
    font-family: 'Courier New', Courier, monospace;
}

h3:active:nth-of-type(2) {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3:active:nth-of-type(3) {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h3:active:nth-of-type(4) {
    font-family: 'Times New Roman', Times, serif;
}

h3:active:nth-of-type(5) {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*Aumentado tamanho da terceira div*/
div:nth-of-type(3){
    font-size: 30px;
}

/*Deixando tags ímpares(odd) em itálico*/
div:nth-of-type(odd){
    font-style: italic;
}

