.caixa {
    color: white;
    display:inline-block;
    line-height: 50px;
    text-align: center;
    vertical-align: top;
}

.width-and-height {
    height: 50px;
    width: 50px;
}

.padding {
    padding: 20px;
}

.margin {
    margin: 30px;
}

.border {
    /*aplicando em cada propriedade do border*/
    border-width: 5px;
    border-style: solid;
    border-color: black;
    

    /*usando o border shorthand*/
    border: 5px solid black;
}