/*Mario esta acima do Goomba*/
.super-mario {
    width: 200px;
    position: absolute;
    z-index: 2;
}

.goomba {
    width: 300px;
    position: absolute;
    z-index: 1;
}


.baloon {
    position: absolute;
    top: 440px;
    z-index: 3;
}

/*posicionando speach(fala) dentro do balão*/
.speach {
    font-size: 25px;
    position: absolute;
    top: 480px;
    left: 30px;
    z-index: 4;
}

/*posicionando balão para que seja fala de bowser*/
.bowser {
    width: 200px;
    position: absolute;
    left: 300px;
    top: 550px;
}